node_modules/
.DS_Store
*.log
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
*.jsbundle
.bundle/
.expo/
.vscode/
.idea/
*.xcuserstate
*.xcuserdatad/

# Environment variables
.env
.env.local
.env.*.local
*.env
!.env.example
